@import "../search-form/search-form.css";
@import "../select-form/__selected/__selected.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: aliceblue;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 1250px) {
    .container {
        max-width: 1250px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1250px) {
    .container {
        max-width: 960px;
    }

    .main-nav__item {
        grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (max-width: 992px) {
    .show-contacts .main-nav__item:not(.selected-contact) {
        pointer-events: none;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        display: none;
    }

    .show-contacts .main-nav__item td {
        display: block !important;
        margin: 10px 0;
    }

    .show-contacts .main-nav__item button {
        display: block;
        margin: 10px 0;
        width: 100%;
    }

    .show-contacts .exit {
        display: block !important;
        padding: 20px;
        color: coral;
        width: 100%;
        border: 0;
        background: white;
        box-shadow: 0 0 4px 0 #6e5656d9;
    }

    .contact-info-item {
        border-bottom: 1px solid #f5f5f5;
        display: block;
    }

    .show-contacts .selected-contact {
        position: absolute;
        width: 97%;
        top: 0;
        right: 0;
        left: 0;
        display: block !important;
    }

    .add-new {
        position: fixed;
        bottom: 4px;
        right: 0;
        z-index: 99;
    }

    .title-nav {
        display: none !important;
    }

    .main-nav__item {
        grid-template-columns: 1fr 2fr !important;
    }

    .main-nav td:not(.main-nav__name) {
        display: none;
    }

    .main-nav__delete {
        display: none;
    }

    .main-nav__edit {
        display: none;
    }

    .functional__row {
        flex-wrap: wrap;
        justify-content: space-evenly !important;
    }

    .select-form {
        margin-bottom: 10px;
    }

    .search-form {
        margin: 0 !important;
    }

    .search-form.active {
        width: 80%;
    }

    .search-form__input {
        height: 30px;
    }

    .search-form.active .search-form__button {
        height: 30px;
        width: 40px;
    }
}

.header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 10px black;
}

.header__owner_img {
    width: 64px;
    height: 64px;
    background: url("https://s3-ap-southeast-2.amazonaws.com/ehq-production-australia/307e5db88017e1485be238a3c00c760a0596cb59/team_members/images/000/001/701/original/male3-512.png?1461732668") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 14px rgba(35, 36, 36, 0.31);
}

.functional {
    padding: 30px;
}

.functional__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-new {
    background: dodgerblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    margin: 0 40px;
}

.add-new i {
    color: white;
    font-size: 18px;
    transform: translateY(-50%);
}

.title-nav {
    padding: 20px;
    display: grid;
    grid-template-columns: 8% repeat(6, 1fr) 2%;
    align-items: center;
    border: 1px solid #1212112e;
    background: white;
}

.title-nav__item {
    text-align: center;
    padding: 11px 0;
}

.main {
    position: relative;
}

.main-nav {
    border: 1px solid #1212112e;
    width: 100%;
    position: relative;
}

.main-nav__item {
    padding: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: 8% repeat(6, 1fr) 2% 2%;
    grid-column-gap: 3px;
    align-items: center;
    background: white;
    border: 1px solid #1212112e;
    text-align: center;
    margin: 5px;
}

.main-nav__item button {
    border: none;
    padding: 4px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.main-nav__item button:focus {
    outline: none;
}

.main-nav__img {
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin: auto;
    background-position: center center;
}

.main-nav__delete {
    background: red;
}

.main-nav__edit {
    background: green;
}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
}

.load hr:first-child {
    background: #19a68c;
    animation-delay: -1.5s;
}

.load hr:nth-child(2) {
    background: #f63d3a;
    animation-delay: -1s;
}

.load hr:nth-child(3) {
    background: #fda543;
    animation-delay: -0.5s;
}

.load hr:last-child {
    background: #193b48;
}

@keyframes spin {
    0%,
    100% {
        transform: translate(0);
    }
    25% {
        transform: translate(160%);
    }
    50% {
        transform: translate(160%, 160%);
    }
    75% {
        transform: translate(0, 160%);
    }
}

#app {
    position: relative;
    width: 100%;
    height: 100vh;
    display: none;
}

#container {
    width: 343px;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -171px;
    z-index: 1;
    display: none;
    background: white;
    padding: 20px 20px;
}

#button {
    width: 30px;
    height: 30px;
    background: #323D4F;
    border: none;
    color: #fff;
    cursor: pointer;
}

#progress-triangle {
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #D94356;
    margin-left: -15px;
    position: relative;
    top: 48px;
}

label, select {
    cursor: pointer;
}

.holder {
    margin-top: 15px;
    background-color: #323D4F;
    border-radius: 5px;
    color: #E9E5E3;
    padding: 10px;
    line-height: 26px;
}

.holder input, .holder select {
    background-color: #323D4F;
    border: none;
    padding: 5px;
    color: #768A9D;
    width: 67%;
    position: absolute;
    right: 0;
    margin-right: 28px;
}

.holder input:focus, .holder select:focus {
    outline: none;
}

label[for="select"] .holder {
    background-color: #374356;
    border-top: 1px solid #768A9D;
    border-bottom: 1px solid #234;
    border-right: 1px solid #234;
    border-left: 1px solid #234;
}

#select {
    height: 35px;
    border: none;
    background-color: #374356;
}

.select-cover {
    content: "";
    position: absolute;
    right: 7px;
    bottom: 55px;
    display: block;
    width: 13px;
    background-color: #374356;
    cursor: pointer;
}

#select-triangle {
    border-top: 6px solid #2E3949;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    z-index: 99;
    margin-left: 96.5%;
    position: relative;
    top: -21px;
    cursor: pointer;
}

#submit {
    background-color: #D94356;
    text-align: center;
    cursor: pointer;
}

#submit:hover {
    background-color: #C83245;
}

#submit:active {
    background-color: #B72134;
}

#edit {
    background-color: #D94356;
    text-align: center;
    cursor: pointer;
}

#edit:hover {
    background-color: #C83245;
}

#edit:active {
    background-color: #B72134;
}

a {
    text-decoration: none;
}

#submit-input {
    display: none;
}

::selection {
    background-color: #D94356;
    color: white;
}

.add #container {
    display: block;
}

.add #shimai-world {
    background: #000000bd !important;
    z-index: 0 !important;
}
