.search-form {
  display: flex;
  align-items: center;
  margin: 0 40px;

  &__input {
    border: 0;
    outline: none;
    height: 50px;
    width: 0;
    overflow: hidden;
    font-weight: 100;
    transform: scale(0);
    transform-origin: 0 50%;
    transition: 275ms ease;


    &::placeholder {
      color: #cccccc;
    }
  }

  &.active {
    width: 50%;

    label {
      width: 100%;
    }

    input {
      padding: 0 40px 0 13px;
      width: 100%;
      transform: scale(1);
      border-radius: 20px 0 0 20px;
      border: 1px solid #b2a8a8e0
    }

    .search-form__button {
      border-radius: 0 20px 20px 0;
    }
  }

  &__wrapper {
    position: absolute;
    width: 1920px;
    height: 100vh;
    right: 0;
    z-index: -200;
  }

}