.select-form {
  position: relative;

  select {
    display: none;
  }

  &__selected {
    background-color: #979fa7;
  }

  &__selected {

    &:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    }

  }

  &__selected.select-form__arrow-active {
    &:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }
  }

  &__items div, &__selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }

  &__items {
    position: absolute;
    background-color: #979fa7;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  &__hide {
    display: none;
  }

  &__items div:hover, &__same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
}




