.select-form {
    position: relative; }
.select-form select {
    display: none; }
.select-form__selected {
    background-color: dodgerblue; }
.select-form__selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent; }
.select-form__selected.select-form__arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px; }
.select-form__items div, .select-form__selected {
    color: #fff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer; }
.select-form__items {
    position: absolute;
    background-color: dodgerblue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99; }
.select-form__hide {
    display: none; }
.select-form__items div:hover, .select-form__same-as-selected {
    background-color: rgba(0, 0, 0, 0.1); }
