.title-nav {
  padding: 20px;
  display: grid;
  grid-template-columns: 4% repeat(6, 1fr) 3% 3%;
  align-items: center;
  border: 1px solid #1212112e;
  background: #979fa7; }
  .title-nav__item {
    text-align: center;
    padding: 11px 0;
    color: #fff; }

.main {
  position: relative; }
